/* 

Gris: #898B89;
Rojo: #D82729; 

https://www.color-hex.com/color/d82729

*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', sans-serif;
}

a {
    text-decoration: none;
}

.header-options-item:hover, .main-contact-item-map a:hover {
    transition: .4s;
    color: #D82729;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.horizontal-line {
    height: 2px;
    width: 70px;
    margin: 12px auto;
}


header {
    height: 100px;
    color: #D82729;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    padding: 0 7%;
    border-bottom: 4px solid #D82729;
}

.header-logo {
    height: 50%;
}

.header-options {
    margin-left: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.header-options-item {
    color: #898B89;
}

.header-menu {
    display: none;
    align-content: center;
}

header h2 {
    font-weight: 900;
    font-style: italic;
}

main {
    text-align: center;
}



/*    -----------------------------------    */


.main-intro {
    margin-bottom: 40px;
}

.main-intro-img {
    height: 450px;
}

#main-intro-line {
    background-color: #D82729;
}

.main-text {
    padding: 40px 0;
    color: #898B89;
}

.main-text h3 {
    color: #000;
}


/* ------------------------------- */


.main-contact {
    background-color: #898B89;
    color: #FFF;
    padding: 40px 0;
}

.main-contact-item {
    margin: 20px 0;
}

.main-contact-item-location {
    display: grid;
    padding-top: 4px;
    place-content: center center;
    grid-template-columns: 30px 120px;
}

.main-contact-item-map {
    display: grid;
    place-content: center center;
    grid-template-columns: 30px auto;
}

.main-contact-item-map a {
    color: #FFF;
}




/* ------------------------------- */


