/* 

Gris: #898B89;
Rojo: #D82729; 

*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', sans-serif;
}

img {
    width: 100%;
}


.horizontal-line {
    height: 1px;
    width: 50px;
    margin: 12px auto;
}


header {
    height: 100px;
    color: #D82729;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    border-bottom: 4px solid #D82729;
}

.header-logo {
    border: 3px solid;
    padding: 5px;
}

.header-menu {
    display: grid;
    align-content: center;
}

header h2 {
    font-weight: 900;
    font-style: italic;
}

main {
    text-align: center;
}

.main-intro {
    margin-bottom: 40px;
}

#main-intro-line {
    background-color: #D82729;
}

.main-text {
    padding: 7%;
    color: #898B89;
}

.main-text h3 {
    color: #000;
}



.main-services {
    background-color: #D82729;
    color: #FFF;
    height: 300px;
    padding: 7%;
}

#main-services-line {
    background-color: #FFF;
}