/* 

Gris: #898B89;
Rojo: #D82729; 

https://www.color-hex.com/color/d82729

*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', sans-serif;
}

a {
    text-decoration: none;
}

.header-options-item:hover, .main-contact-item-map a:hover {
    transition: .4s;
    color: #D82729;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.horizontal-line {
    height: 2px;
    width: 70px;
    margin: 12px auto;
}


header {
    height: 100px;
    color: #D82729;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    padding: 0 7%;
    border-bottom: 4px solid #D82729;
    margin: 0 auto;
    max-width: 1300px;
}

.header-logo {
    height: 50%;
}

.header-options {
    margin-left: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.header-options-item {
    color: #898B89;
    display: flex;
    align-items: center;
}

.header-options-item figure {
    display: grid;
    align-items: center;
}

#header-options-services {
    border: none;
    background-color: transparent;
    font-size: 16px;
}

button {
    padding: 0;
}

#header-options-services-arrow1 {
    display: grid;
}

#header-options-services-arrow2 {
    display: none;
}

.header-menu {
    display: none;
    align-content: center;
}

header h2 {
    font-weight: 900;
    font-style: italic;
}

main {
    text-align: center;
}



/*    -----------------------------------    */

.main-services-menu {
    display: none;
    position: absolute;
    top: 100px;
    background-color: #db3c3e;
    padding: 2% 7%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.main-services-menu-item {
    background-color: #D82729;
    border-radius: 12px;
    padding: 12px;
    color: #FFF;
}

.main-services-menu-item:hover {
    transition: .3s;
    background-color: #F7F7F7;
    color: #898B89;
}


.main-intro {
    margin-bottom: 40px;
}

.main-intro-img {
    height: 450px;
}

#main-intro-line {
    background-color: #D82729;
}

.main-text {
    padding: 40px 0;
    color: #898B89;
}

.main-text h3 {
    color: #000;
}